@using BabyDiary.Helpers
@model BabyDiary.Models.DTOs.ChildDto


<div class="child-detail-block">
    <form id="child-detail-form" class="form-horizontal">
        <div class="form-group">
            @Html.Label("Фамилия", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.KoTextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Имя", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.KoTextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Отчество", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.KoTextBoxFor(model => model.Surname, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Дата рождения", new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.BirthDate, new {@class = "form-control", data_bind = "dateSelector: BirthDate, dateSelectorOptions: { minYear: 1980 }" })
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
            <span data-bind = "text: Age()"></span>
        </div>
        <div class="form-group">
            @Html.Label("Время рождения", new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.KoTextBoxFor(model => model.BirthTime, new {@class = "form-control", @placeholder = "00:00" })
                @Html.ValidationMessageFor(model => model.BirthTime)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Место рождения", new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.KoTextBoxFor(model => model.BirthPlace, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.BirthPlace)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                @Html.KoRadioButtonFor(m => m.Sex, 0, new { @id = "GenderMale" })
                @Html.Label("GenderMale","Мальчик")
                @Html.KoRadioButtonFor(m => m.Sex, 1, new { @id = "GenderFemale" })
                @Html.Label("GenderMale", "Девочка")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <button id="addChild" type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>
