@model BabyDiary.Models.DTOs.ResetPasswordDto

@{
    ViewBag.Title = "Смена пароля";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

        <div class="reset-password-block">
            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    @Html.Label("E-mail", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Новый пароль", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Подтверждение пароля", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="signUpButton" class="btn btn-primary">Установить пароль</button>
                </div>
            }

        </div>

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}