@model BabyDiary.Models.DTOs.SignUpDto

@{
    ViewBag.Title = "Регистрация";

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="sign-up-block">
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("E-mail", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Логин", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Login)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Пароль", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Подтверждение пароля", new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <button type="submit" id="signUpButton" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
    }

</div>
